*{
	margin:0;
    padding: 0;
}

.wrap{
	width: 1000px;
	margin:auto;
}
		
#menu01mobile,#menu02mobile{
	display: none;

}

header{
	background-color: black;
	height: 40px;
}	

header ul {
	display:flex;
	flex-direction: row-reverse;
	list-style: none;
}	

header ul li a {
		color: grey;
		text-decoration: none;
		padding: 10px;

}

header ul li a.adopt
{
	background-color: orange;
	color: white;
}

header ul li a.donate
{
	background-color:#FF8C00
}

#menu02  {
	background-color:grey;
	height: 50px;
}

#menu02 ul {
			display: flex;
			flex-direction: flex start;
			list-style: none;

		

}

#menu02 ul li a{
				color: white;
				text-decoration: none;
				padding: 10px;

}


#menu02 img{
	margin-top: -50px;
	width:70px;
height:70px;
}

#slider {
	background-color:black;
	background-image: url("argus.mp4");
	 background-repeat: no-repeat;
	 background-position: center;
	 background-size: cover;
}
#slider .wrap {
	
	 height: 600px;
	width: 1200px;
	margin:auto;
	
	

}
.wrap{display:}
h1{
	position: absolute;
	margin-top:500px;
	color:white;
	text-shadow: 1px 1px grey;

}

h2{
	position: absolute;
	margin-top: 540px;
	color: white;
	font-size: 15px;
	text-shadow: 1px 1px grey;

}
section .wrap{
	display: flex;
	justify-content: space-between; 

}

section .wrap article {

	width: 23%;
}

section .wrap article img{

	width: 100%;
}
#content{
	padding-top: 50px;
	background-color: white;
}
